.search {
  position: relative;

  & fieldset {
    border: none;
    background-color: $gray-color-100;
    border-radius: 1.5rem;
    padding: 1rem clamp(1rem, 1.2cqi, 1.2rem);
    position: relative;
    width: 2.5rem;
    cursor: pointer;

    &[data-active='active'] {
      & input {
        max-width: 50rem;
        padding-left: calc(2.5rem + clamp(1rem, 1.2cqi, 1.2rem));
        transition: all 0.2s ease-in-out;
      }
    }

    & img {
      position: absolute;
      top: 50%;
      left: clamp(1rem, 1.2cqi, 1.2rem);
      transform: translateY(-50%);
    }

    & input {
      background: none;
      max-width: 0;
      padding-left: 2.5rem;
      transition: all 0.2s ease-in-out;

      &,
      &::placeholder {
        line-height: 2.5rem;
      }
    }
  }

  &__results {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    background-color: $gray-color-100;
    padding: clamp(1.1rem, 1.3cqi, 1.3rem);
    border-radius: 0.8rem;

    & a {
      @include _1-4rem($align: left);

      &:not(:last-of-type) {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $gray-color-200;
        margin-bottom: 0.5rem;
      }
    }
  }
}
